*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
	font-family: 'Poppins', sans-serif;
header{
    top: 0; left: 0; right: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 1%;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    z-index: 1000;
}
.header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    display: none;
}
header .navbar ul li ul a:hover{
    color: #c7c7c7;
}
header .navbar ul li:hover ul{
    display: initial;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
}
.table-container h1 {
    margin-bottom: 20px;
    color: white;
}

.centered-table {
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.centered-table th, .centered-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #dddddd;
    color: white;
}

.centered-table th {
    background-color: #000000;
}

.centered-table tr:nth-child(even) {
    background-color: #333333;
}

.centered-table tr:nth-child(odd) {
    background-color: #555555;
}

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.footer.col-3 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer.col-3{
    flex-basis: 12%;
    text-align: center;
}
a{
    color: inherit;
}
a:hover{
color: #ffffff;
}
li{
    list-style-type: none;
    text-decoration: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.footer.col-3 li a{
    color: aqua;
}
a{
    text-decoration: none;
}

